[class|="btn"],
[class*=" btn-"]{
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-align: center;
	text-decoration:none;
}
[class|="btn"] input[type="submit"],
[class*=" btn-"] input[type="submit"],
[class|="btn"] input[type="reset"],
[class*=" btn-"] input[type="reset"]{
	background: url("../img/empty.png") repeat;
	cursor: pointer;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;
	border:0;
}
/*btn-default*/
.btn-default{
	font: 20px/24px 'Roboto', Arial, Helvetica, sans-serif;
	color: #fff;
	padding: 26px 26px 27px;
	letter-spacing: 0.03em;
	border: 2px solid #ffbb05;
	background: #ffbb05;
	border-radius: 82px;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	min-width: 342px;
}
.btn-default:hover{
	box-shadow: 0 0 0 3px #fff;
}
/*btn-default end*/

/*btn-default-alt*/

.btn-default-alt{
	padding: 18px 28px 14px;
	font: 700 15px/19px 'Roboto', Arial, Helvetica, sans-serif;
	color: #fff;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	border: 1px solid #24b1e5;
	background: #24b1e5;
	border-radius: 54px;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.btn-default-alt:hover{
	border-color: #3bbbea;
	background: #3bbbea;
}
.btn-default-alt:active{
	background: #0d99e5;
	border-color: #0d99e5;
}
/*btn-default-alt end*/